.vscode/**
.github/**
src/**
images/**
coverage/**
node_modules/**

locales/bundle.l10n.jsonc

.env
.gitignore

changelog.md

oxfmt.config.ts
oxlint.config.ts
tsdown.config.ts
vitest.config.ts

bun.lock
pnpm-lock.yaml
pnpm-workspace.yaml
jest.config.ts
tsconfig.json

out/**
!out/extension.cjs
