.vscode/**
.github/**
src/**
images/**
coverage/**
node_modules/**

locales/bundle.l10n.jsonc

.env
.prettierignore
.gitignore
.swcrc

bun.lock
eslint.config.ts
jest.config.ts
tsconfig.json

out/**
!out/extension.js
